<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <title>CCSE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href=@Url.Content("/Content/assets/css/main.css") />
    <noscript><link rel="stylesheet" href=@Url.Content("/Content/assets/css/noscript.css") /></noscript>
</head>
<body>
    <!-- Scripts -->
    <script src="/Content/assets/js/jquery.min.js"></script>
    <script src="/Content/assets/js/jquery.scrollex.min.js"></script>
    <script src="/Content/assets/js/browser.min.js"></script>
    <script src="/Content/assets/js/breakpoints.min.js"></script>
    <script src="/Content/assets/js/util.js"></script>
    <script src="/Content/assets/js/main.js"></script>

    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">CCSE</a></h1>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <!--<li><a href="index.html">@Html.ActionLink("Home", "index")</a></li>-->
                    <li><a href="ma template/FormationChoix.html">@Html.ActionLink("Formations ", "Choix_Formation")</a></li>
                    <li><a href="ma template/ChoixEvenement.html">@Html.ActionLink("Evénements ", "Choix_Evenement")</a></li>
                    <li><a href="elements.html">@Html.ActionLink("partenaire", "element")</a></li>
                    <li><a href="#footer">Contact</a></li>
                    <!--<li><a href="#">Sign Up</a></li>-->
                </ul>
                <a href="#" class="close">Close</a>
            </div>
        </nav>



        @RenderBody()
      

        <!-- Scripts -->
        <script src="/Content/assets/js/jquery.min.js"></script>
        <script src="/Content/assets/js/jquery.scrollex.min.js"></script>
        <script src="/Content/assets/js/browser.min.js"></script>
        <script src="/Content/assets/js/breakpoints.min.js"></script>
        <script src="/Content/assets/js/util.js"></script>
        <script src="/Content/assets/js/main.js"></script>

</body>
</html>
