@model site.Models.CLIENT_SALLE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SalleLayout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CLIENT_SALLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CIN_CLIENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIN_CLIENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM_Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRENOM_CLIENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRENOM_CLIENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_NAISSANCE_CLIENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_NAISSANCE_CLIENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRESSE_CLIENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRESSE_CLIENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXE_CLIENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXE_CLIENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEPHONE_CLIENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEPHONE_CLIENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_CLIENT_SALLE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
